# Dependency directories
/node_modules

# Build output
/dist
/build
/native/build

# Environment variables
.env

# IDE and editor files
/.vscode
/.idea
*.sublime-*
*.swp

# Logs
/logs
*.log
npm-debug.log*